<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Rainforecast index</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>
</head>
<body>
	<div id="myMap" style="height: 600px"></div>
	<div>
		<input type="button" class="btn btn-primary" id="btn1" value="Button1" /> <input type="button" class="btn btn-danger" id="btn2" value="Button2" />
	</div>
</body>
<script type="text/javascript" src="/js/map.js"></script>
</html>